.destinations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  margin-bottom: 50px;
}

.destinations > * {
  margin: 0px;
}

.destinations h4 {
  font-weight: bolder;
  font-size: 20px;
  color: rgb(112, 109, 109);
}

.destinations h2 {
  font-weight: bold;
  font-size: 55px;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.destinations .groups {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.destinations .groups > * {
  margin: 0px 25px 0 50px;
}
