.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header a {
  text-decoration: none;
  color: black;
  font-size: medium;
}

.header img {
  margin-left: 100px;
}

.header .navigation {
  padding: 12px;
  margin: 20px 10px;
}

.header .navigation > * {
  margin: 0px 40px;
}

.header .navigation button {
  background: none;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.header .navigation select {
  border: none;
  background: none;
}
